@import './variables.scss';

section.banner {
  margin-left: 2em;
  color: $white;
  font-size: calc(0.25em + 3vw);
}



section.banner.banner--confirm {
  background-color: $confirm;
  color: $white;
  font-size: calc(0.2em + 2vw);
}

section.banner.banner--danger {
  background-color: $danger;
}