@import './variables.scss';

header {
  background-color: $bodyBackground;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100%;
}

header .inner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

@media (max-width: $laptopWidth) {
  div.inner-content {
    width: $tabletWidth - 30px;
    display: initial;
  }

  section.banner {
    margin: 0;
  }
}

header a {
  color: $primary;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

@media (max-width: $mobileWidth) {
  #nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1em;

  } & li {
    padding-top: 0.5em;
  }
}

header .nav-links li {
  font-size: calc(0.25em + 3vw);
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

span.MuiButton-label {
  color: $primary;
}

#nav-mobile-open > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > li {
  font-size: calc(1.25em + 3vw);
}


@media (max-width: $mobileWidth) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

span.MuiButton-label {
  font-size: calc(2em + 6vw);
}