@import './variables.scss';

.overlay--movie-info {
  position: fixed;
  top: $bodyMargin;
  left: 0;
  bottom:0;
  right:0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
  background: $bodyBackground;
}

.splash--movie-info {
  width: 50%;
  margin-left: auto;
  margin-right: auto;  
}

.movie-info--detailed {
  display: grid;
  grid-template-areas: "post post head"
                       "post post head"
                       "post post body"
                       "plot plot plot"
                       "plot plot plot"
                       "plot plot plot"
                       "plot plot plot"
}

.header {
  grid-area: head;
}

.body {
  grid-area: body;
}

.poster-wrapper {
  grid-area: post;
}

.plot {
  grid-area: plot;
}

