// $primary: #032541;
$primary: #64943E;
// $secondary: #2AA8A2;
$secondary: #FFE7AD;
$danger: #BD8492;
$danger-dark: #b83a60;
$confirm: #004C3F;
$white: #F1EDEA;
$bodyBackground: #FBF7ED;

$laptopWidth: 1200px;
$tabletWidth: 992px;
$mobileWidth: 540px;

$largeFont: calc(0.25em + 3vw);

