@import './variables.scss';

section.banner {
  margin-left: 2em;
}

section.banner.banner--secondary {
  background-color: $secondary;
}

section.banner.banner--danger {
  background-color: $danger;
}